<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List App</title>

    <!-- font awesome script -->
    

    <!-- google font script -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet">
    <!-- custom css -->
    <link rel="stylesheet" href="scss/custom.css">

    <!-- css file  -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<!-- it's a test  -->
<!-- there are don't have a header -->

<!-- let's start by the main. -->
<main class="container text-center">
    <section class="row d-flex justify-content-center align-content-center">
    <!-- the name of my app -->
        <h1 class="fw-bold fs-2 mt-4">Doingly</h1>
        <div class="name-app">
            <img src="images/thinker.svg" alt="" srcset="">
        </div>

        <!-- bit description of my project , there a title and sub-title -->
        <div class="descr-app d-flex flex-column">
            <h3 class="pb-3">Welcome to Doingly</h3>
            <p class="col-md-5 align-self-center">Doing will helps you to stay organized an perform your task much later</p>
        </div>

        <!-- form action -->
        <form action="/sign-in" method="POST">
            <input class="btn-app align-self-cente" type="submit" value="Get Startes" >
        </form>

    </section>
</main>




<!-- my script  -->
<script src="js\bootstrapp.bundle.min.js"></script>

<script src=""></script>
</body>
</html>