<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign-in</title>

    <!-- google font script -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap" rel="stylesheet" />

    <!-- style css from scss -->
    <link rel="stylesheet" href="css/sign-up.css" />
    <link rel="stylesheet" href="scss/custom.css" />
    

    <!-- font-awesome theme -->
    <script src="https://kit.fontawesome.com/a014666b37.js" crossorigin="anonymous"></script>
</head>

<body class="ikh-bg-gradient d-flex justify-content-center align-item-center flex-column py-4"> <!-- me-->
    <h1 class="h3 mb-5 fw-normal text-primary">
        Doingly
    </h1>
    <!-- <form action="/connected" method="POST" enctype="multipart/form-data"> -->
    <form action="/sign-in/connected" method="POST" enctype="multipart/form-data">
        <div class="form-floating">
            <input name ="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>


        <div class="form-floating my-4">
            <input name="password ="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <!-- implement the password strengh -->
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01">Image</label>
            <input name="userImage" type="file" class="form-control" id="inputGroupFile01">
        </div>

        <div class="form-check text-start my-3">
            <input name="check"  class="form-check-input" type="checkbox" value="true" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault"><!-- avec form-check-label on peut facilement styliser le texte en fonction de l'input-->
                Remember me
            </label>
        </div>
        <button class=" btn btn-primary w-100 py-2" type="submit"><!--w-100 -->
            Sign in
        </button>
        <p class="mt-5 mb-3 text-body-secondary">© Powerby ikhela</p>
    </form>








    <!-- <main class="form-signin w-100 m-auto">
        <form class="w-100 m-auto">
            <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57" />
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" />
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">
                Sign in
            </button>
            <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
        </form>
    </main> -->
    <script src="js/bootstrapp.bundle.min.js"></script>
</body>

</html>