body{
    height: 100vh;
}

a.user-dropdown{
    border: 1px solid #DFDCED;
    border-radius: 10px;
}

a.user-dropdown::after{
    display: none !important;
}
.fa-bars{
    width: 36.8px;
    height: 36.8px;
    text-align: center;
    padding: 17px 0;
    border: 1px solid #DFDCED;
    border-radius: 11px;
}
a.ik-dropdown::after{
    display: none;
}

button.i-btn{
    width: 290px;
    height: 112px;
    border-radius: 70px;
    font-size: 20px;
    margin-top: 10px;
}
section.i-categorie{
    /* padding-left: 57px; */
    padding: 22px;
    justify-content: center;
}
section.i-categorie a{
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #DFDCED;
    background: #FFF;
    padding-top: 7px;
    margin-right: 30px;
    /* margin-left: 22px; */
}

section.i-categorie a:first-child{
    margin-left: 22px;
}